$colorSecondary: #4e5166;


$gradient: linear-gradient(
                -425deg,
                #231557 0%,
                #44107a 29%,
                #ff1361 67%,
                #fff800 100%
);

$boxShadowLight: rgba(255, 255, 255, 0.63) 0px 2px 4px, rgba(255, 255, 255, 0.53) 0px 7px 13px -3px, rgb(255, 215, 215) 0px -3px 0px inset;

$boxShadowDark: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;