$breakpointTablet: 1024px;
$breakpointMobile: 768px;

$colorPrimary: #51eaa8;
$colorSecondary: #4e5166;


$gradient: linear-gradient(
                -425deg,
                #833db2 0%,
                #9052da 29%,
                #ff1361 67%,
                #fff800 100%
);

$boxShadowLight: rgba(255, 255, 255, 0.63) 0px 12px 14px, rgba(255, 255, 255, 0.53) 0px 17px 23px -3px, rgb(229, 211, 211) 0px -3px 0px inset;

$boxShadowDark: rgba(0, 0, 0, 0.4) 0px 12px 14px, rgba(0, 0, 0, 0.3) 0px 17px 23px -13px, rgba(0, 0, 0, 0.2) 0px -13px 0px inset;